<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB/Rails/React App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div id='console' name='console'/>
    </footer>
  </body>
</html>
